.container
{
    width: 1680px;
    height: 90px;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    top: 20px;
    left: 120px;
    border-radius: 20px;
    padding: 20px;
    border-width: 2px;
    background-color:#121419;
    border: 2px solid #242930
}
.Img_Logo
{
    width: 263px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
}
.Menu_Burger
{
    width: 34px;
    height: 34px;
    angle: 0 deg;
    opacity: 1;
    display: grid;
    position: relative;
    display: none;
}
.container_Contacts
{
    width: 131px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_Practice
{
    width: 123px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_About
{
    width: 103px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_FAQ
{
    width: 84px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.language-selector
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
    justify-self: end;
}
.language-selected
{
    display: grid;               /* используем грид */
    grid-auto-flow: column;      /* горизонтальное расположение */
    align-items: center;         /* выравнивание по центру */
    gap: 8px;                    /* расстояние между текстом и иконкой */
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
    user-select: none;
    margin-left: 1120%;
}
.language-selected:hover {
    background-color: #242930;
    width: 60%;
}
.Icon_i18n
{

}
.language-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 5px;
    background: #1a1e23;
    border-radius: 6px;
    list-style: none;
    padding: 0;
    display: none; /* <--- по умолчанию скрыто */
    min-width: 100%;
    z-index: 10;
    margin-left: 1120%;
}

.language-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    color: white;

}

.language-dropdown li:hover {
    background: #333;
}

/* показываем список только когда есть класс open */
.language-selector.open .language-dropdown {
    display: block;
}
.container_login
{
    width: 200px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 2px;
    display: grid;
    position: relative;
    border: 2px solid #93A9B7;
    background-color: #242930;

}
.txt_login
{
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}
.container_Contacts_txt
{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}
.container_Practice_txt
{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}
.container_About_txt
{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}
.container_FAQ_txt
{
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}

@media (max-width: 340px)
{
    .container
    {
        display: grid;
        justify-content: start;
        width: 595px;
        height: 59px;
        justify-content: start;
        angle: 0 deg;
        opacity: 1;
        top: 50px;
        padding-top: 15px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        margin-left: -5%;

    }
 .Img_Logo
 {

 }
    .Img_Logo_1
    {
        display: none;
    }
    .navbar
    {
        display: grid;
        justify-content:end;
    }
    .Img_Menu_Burger
    {

    }
    .Menu_Burger
    {

    }
    .menu
    {

    }
    .container_login
    {
        width: 71px;
        height: 34px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        gap: 5px;
        padding: 10px;
        margin-left: 150%;
        margin-top: -34%;
    }

    .txt_login
    {
        color: #93A9B7;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0%;
        text-align: left;
    }
}

@media (min-width: 341px) and (max-width: 380px)
{

}

@media (min-width: 380px) and (max-width: 600px)
{

}

/* ========== 📲 600px — 767px ========== */
@media (min-width: 600px) and (max-width: 767px) {


}

/* ========== 💻 768px — 1023px ========== */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* ========== 💻 1024px — 1279px ========== */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* ========== 🖥️ 1280px — 1439px ========== */
@media (min-width: 1280px) and (max-width: 1439px) {

}

/* ========== 🖥️ 1440px — 1919px ========== */
@media (min-width: 1440px) and (max-width: 1919px) {

}

/* ========== 🖥️ 1920px — 2559px ========== */
@media (min-width: 1920px) and (max-width: 2559px) {

}

/* ========== 🧠 2560px — 3150px ========== */
@media (min-width: 2560px) and (max-width: 3150px) {

}

