html,
body {
    margin: 0;
    padding: 0;
    background-color: #121419;
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.container_Main {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    display: grid;
    grid-gap: 0;
    box-sizing: border-box;
}




@media (min-width: 1025px) {

.container_Main
{

}



    .cont_1,
    .cont_2,
    .cont_3,
    .cont_4,
    .cont_5
    {
        width:23%;
        height:60%;
        background-color:#242930;
        margin-top: 9%;
        margin-left: 2%;
        border-radius: 10px;
    }

    .cont_1
    {

    }
    .cont_2
    {
        margin-left: 26%;
        margin-top: -15.5%;
    }
    .cont_3
    {
        margin-left: 50%;
        margin-top: -15.5%;
    }
    .cont_4
    {
        margin-left: 74%;
        margin-top: -15.5%;
    }
    .cont_5
    {
        margin-left: 98%;
        margin-top: -15.5%;
    }

    .main_txt_cont_1
    {
        font-family: "Montserrat Alternates";
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0%;
        color:#CAE9FB;
        margin-left: 33%;
    }

    .txt_cont_1
    {
        font-family:"Montserrat Alternates","monospace";
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 140%;
        color:#CAE9FB;
        margin-left: 8%;
        margin-top: -3%;
    }
    .txt_1_cont_1{
        margin-left:25%;
        margin-top:-4.5%;
        font-family: "Montserrat Alternates";
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        color:#CAE9FB;
    }

    .txt_2_cont_1{
        font-family:"Montserrat Alternates","monospace";
        font-weight: 500;
        font-style: Medium;
        font-size: 16px;
        line-height: 140%;
        color:#CAE9FB;
        margin-left: 8%;
        margin-top: -3%;
    }

    .txt_3_cont_1{
        margin-left:25%;
        margin-top:-4.5%;
        font-family: "Montserrat Alternates";
        font-weight: 700;
        font-style: Bold;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: 0%;
        color:#CAE9FB;
    }


}
