
/* ========== Basic styles ========== */

.grid-section-button
{

}
.button_training
{
    width: 127px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid  rgba(202, 233, 251, 1);
    border-radius: 10px;
    background:  rgba(202, 233, 251, 1);
}
.txt_button_training
{
    color:  rgba(6, 42, 128, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_My_progress
{
    width: 165px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid  rgba(147, 169, 183, 1);
    border-radius: 10px;
}
.txt_button_my_progress
{
    color:  rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_self_study_courses
{
    width: 225px;
    height: 48px;
    box-sizing: border-box;
    border: 2px solid  rgba(147, 169, 183, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.txt_button_self_study_courses
{
    color:  rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.button_Material
{
    width: 133px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(147, 169, 183, 1);
    border-radius: 10px;
}

.txt_button_Material
{
    color:rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.container_Train
{
    width: 1680px;
    height: 143px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background: var(--background, rgba(36, 41, 48, 1));
}
.section_txt
{

}
.section_txt_1
{
    font-family:"Red Hat Mono";
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
   color: #F93D7A;
}
.section_txt_2
{
    font-family:"Red Hat Mono";
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color:#CAE9FB;
}
.section_txt_3
{
    color: rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.grid-section-button-2
{

}
.button_tests
{
    width: 94px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background:rgba(202, 233, 251, 1);
}
.button_tests_txt
{
    color:rgba(6, 42, 128, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_Phrases
{
    width: 120px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(147, 169, 183, 1);
    border-radius: 10px;
}
.button_Phrases_txt
{
    color: rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

@media (min-width: 320px) and (max-width: 479px)
{


}

/* ========== 📱 320px — 479px ========== */
@media (max-width: 479px) {

}

/* ========== 📱 480px — 599px ========== */
@media (min-width: 480px) and (max-width: 599px) {

}

/* ========== 📲 600px — 767px ========== */
@media (min-width: 600px) and (max-width: 767px) {


}

/* ========== 💻 768px — 1023px ========== */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* ========== 💻 1024px — 1279px ========== */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* ========== 🖥️ 1280px — 1439px ========== */
@media (min-width: 1280px) and (max-width: 1439px) {

}

/* ========== 🖥️ 1440px — 1919px ========== */
@media (min-width: 1440px) and (max-width: 1919px) {

}

/* ========== 🖥️ 1920px — 2559px ========== */
@media (min-width: 1920px) and (max-width: 2559px) {

}

/* ========== 🧠 2560px — 3150px ========== */
@media (min-width: 2560px) and (max-width: 3150px) {

}

