
/* ========== Basic styles ========== */

.grid-section-button
{

}
.button_training
{
    width: 127px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid  rgba(202, 233, 251, 1);
    border-radius: 10px;
    background:  rgba(202, 233, 251, 1);
}
.txt_button_training
{
    color:  rgba(6, 42, 128, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_My_progress
{
    width: 165px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid  rgba(147, 169, 183, 1);
    border-radius: 10px;
}
.txt_button_my_progress
{
    color:  rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_self_study_courses
{
    width: 225px;
    height: 48px;
    box-sizing: border-box;
    border: 2px solid  rgba(147, 169, 183, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
}

.txt_button_self_study_courses
{
    color:  rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.button_Material
{
    width: 133px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(147, 169, 183, 1);
    border-radius: 10px;
}

.txt_button_Material
{
    color:rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.container_Train
{
    width: 1680px;
    height: 143px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 30px 20px 30px 20px;
    border-radius: 10px;
    background: var(--background, rgba(36, 41, 48, 1));
}
.section_txt
{

}
.section_txt_1
{
    font-family:"Red Hat Mono";
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
   color: #F93D7A;
}
.section_txt_2
{
    font-family:"Red Hat Mono";
    font-size: 50px;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color:#CAE9FB;
}
.section_txt_3
{
    color: rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.grid-section-button-2
{

}
.button_tests
{
    width: 94px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
    background:rgba(202, 233, 251, 1);
}
.button_tests_txt
{
    color:rgba(6, 42, 128, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_Phrases
{
    width: 120px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(147, 169, 183, 1);
    border-radius: 10px;
}
.button_Phrases_txt
{
    color: rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.container_Recent
{
    width: 546px;
    height: 239px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 25px;
    border-radius: 10px;
    background: var(--background, rgba(36, 41, 48, 1));
}
.container_Recent_txt_1
{
    width: 105px;
    height: 22px;
    color:rgba(110, 126, 138, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.container_Recent_txt_2
{
    /* Wild animals */
    width: 110px;
    height: 22px;
    color:  rgba(110, 126, 138, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 16%;
    margin-top: 0.5%;
}
.container_Recent_txt_3
{
    width: 496px;
    height: 45px;
    color:rgba(202, 233, 251, 1);
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0%;
    text-align: center;
}
.container_Recent_txt_4
{
    color:rgba(147, 169, 183, 1);
    width: 157px;
    height: 22px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.container_Recent_button
{
    width: 405px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    background:rgba(6, 42, 128, 1);
}
.container_Recent_button_txt
{
    color:rgba(202, 233, 251, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.button_Categories
{

}
.grid-section-button-lvl
{

}
.button_lvl_a1_a2
{
    width: 110px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(147, 169, 183, 1);
    border-radius: 5px;
    background: var(--background, rgba(36, 41, 48, 1));
    margin-top: 2%;
}
.button_lvl_a1_a2_txt
{
    color:rgba(202, 233, 251, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 66px;
    height: 28px;
}
.button_lvl_b1_b2
{
    width: 102px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;

}
.button_lvl_b1_b2_lvl
{
    width: 57px;
    height: 28px;
    color: rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.button_lvl_c1_c2
{
    width: 101px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}
.button_lvl_c1_c2_txt
{
    color:rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    width: 56px;
    height: 28px;
}
.search
{

}
.grid-section-cont-practice
{

}
.grid-section-cont-practice-2
{

}

.cont_practice_1,
.cont_practice_2,
.cont_practice_3,
.cont_practice_4,
.cont_practice_5,
.cont_practice_6,
.cont_practice_7,
.cont_practice_8,
.cont_practice_9,
.cont_practice_10,
.cont_practice_11,
.cont_practice_12
{
    width: 263px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    padding: 25px 15px 25px 15px;
    border-radius: 10px;
    background:rgba(36, 41, 48, 1);
}


.cont_practice_1
{

}
.cont_practice_2
{

}
.cont_practice_3
{

}
.cont_practice_4
{

}
.cont_practice_5
{

}
.cont_practice_6
{

}
.cont_practice_7
{

}
.cont_practice_8
{

}
.cont_practice_9
{

}
.cont_practice_10
{

}
.cont_practice_11
{

}
.cont_practice_12
{

}

.button_More_curses
{
    width: 405px;
    height: 58px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 15px 5px 15px 5px;
    border-radius: 10px;
    background: rgba(249, 61, 122, 1);
}

.button_More_curses_txt
{
    color:rgba(202, 233, 251, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.cont_practice_1_txt
{
    color:rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    width: 111.5px;
    height: 22px;
}

.cont_practice_1_txt_2
{
    color:rgba(147, 169, 183, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    width: 45px;
    height: 22px;
    margin-left: 70%;
    margin-top: -28%;
}
.cont_practice_1_txt_3
{
    color:rgba(202, 233, 251, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.cont_practice_1_button
{
    width: 233px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0px 20px 0px 20px;
    box-sizing: border-box;
    border: 1px solid rgba(115, 181, 255, 1);
    border-radius: 5px;
}
.cont_practice_1_button_txt
{
    color:rgba(115, 181, 255, 1);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.button_Categories_txt
{
    color:  rgba(110, 126, 138, 1);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
/*.Search_Ico*/
/*{*/
/*margin-left:90%;*/
/*}*/
/*.search*/
/*{*/
/*    width: 405px;*/
/*    height: 44px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    border-radius: 5px;*/
/*    background: var(--background, rgba(36, 41, 48, 1));*/
/*}*/
.search {
    width: 405px;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    background: var(--background, rgba(36, 41, 48, 1));
    margin-left: 75%;
    margin-top: -4%;
}

/* Иконка */
.Search_Ico {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    cursor: pointer;
    margin-left: 20%;
}
.container_Recent1
{
    width: 496px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    border: 1px solid rgba(64, 73, 81, 1);
    border-radius: 5px;
    margin-left: -3%;
}

.Icon_i18n_Practice1
{
    margin-left: 63%;
}
/* Поле ввода */
.search_input {
    flex: 1;
    height: 100%;
    border: none;
    background: transparent;
    color: white;
    font-size: 16px;
    outline: none;
}

/* Плейсхолдер */
.search_input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 320px) and (max-width: 479px)
{


}

/* ========== 📱 320px — 479px ========== */
@media (max-width: 479px) {

}

/* ========== 📱 480px — 599px ========== */
@media (min-width: 480px) and (max-width: 599px) {

}

/* ========== 📲 600px — 767px ========== */
@media (min-width: 600px) and (max-width: 767px) {


}

/* ========== 💻 768px — 1023px ========== */
@media (min-width: 768px) and (max-width: 1023px) {

}

/* ========== 💻 1024px — 1279px ========== */
@media (min-width: 1024px) and (max-width: 1279px) {

}

/* ========== 🖥️ 1280px — 1439px ========== */
@media (min-width: 1280px) and (max-width: 1439px) {

}

/* ========== 🖥️ 1440px — 1919px ========== */
@media (min-width: 1440px) and (max-width: 1919px) {

}

/* ========== 🖥️ 1920px — 2559px ========== */
@media (min-width: 1920px) and (max-width: 2559px)
{
    .grid-section-button
    {
        margin-top: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
margin-left: 5%;
    }
.button_training
{
margin-left: 168%;
}
    .button_My_progress
    {
        margin-left: 106%;
    }

    .button_Material
    {
        margin-left: 55%;
    }

    .container_Train
    {
        margin-left: 4.5%;
        margin-top: 5%;
    }

    .grid-section-button-2
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .Ico_Green_Flag,
    .Ico_Yellow_Flag,
    .Ico_Red_Flag
    {
        width:20px;
        height:20px;
    }

    .Ico_Green_Flag
    {

    }

    .Ico_Yellow_Flag
    {

    }

    .Ico_Red_Flag
    {
margin-left: 60%;

    }

   .section_txt_1
   {

   }
   .section_txt_2
   {

   }
   .button_tests
   {
       margin-left: 210%;
       margin-top: 15%;
   }
   .button_Phrases
   {
       margin-left: 150%;
       margin-top: 15%;
   }
   .container_Recent
   {
       margin-top: 5%;
       margin-left: 33.5%;
   }

    .cont_practice_1_button:hover {
        background: rgba(115, 181, 255, 1);
    }


    .cont_practice_1_button:hover .cont_practice_1_button_txt {
        color: white;
    }

    .grid-section-cont-practice
   {
       display: grid;
       margin-top: 2%;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       margin-left: 1%;
   }
   .grid-section-cont-practice-2
   {
       display: grid;
       margin-top: 2%;
       grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
       margin-left: 1%;
   }

   .button_More_curses
   {
       margin-left: 38%;
       height: 30px;
       margin-top: 2%;
   }

   .cont_practice_1_txt_3
   {
       margin-left: 27%;
   }
    .grid-section-button-lvl
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin-top: -4%;
    }
   .button_lvl_a1_a2
   {
       margin-left: 192%;
       margin-top: 5%;
   }
   .button_lvl_b1_b2
   {
       margin-left: 130%;
       margin-top: 3.5%;
   }
   .button_lvl_c1_c2
   {
       margin-left: 60%;
       margin-top: 3.5%;
   }

    .categories-wrapper {
        margin-top: 5%;
        position: relative;
        width: max-content;
        margin-left: 1%;
    }


    .button_Categories {
        width: 405px;
        height: 44px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border-radius: 5px;
        background: var(--background, rgba(36, 41, 48, 1));
        margin-left: 1%;
        gap: 8px;
        cursor: pointer;
    }


    .categories-dropdown {
        list-style: none;
        padding: 0;
        margin: 5px 0 0 0;
        background: var(--background, rgba(36, 41, 48, 1));
        border-radius: 8px;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        margin-left: 1%;
        transition: 0.25s ease;
        border: 1px solid rgba(36, 41, 48, 1);
    }


    .categories-dropdown.open {
        max-height: 200px;
        opacity: 1;
    }

    .categories-dropdown li {
        padding: 10px 14px;
        cursor: pointer;
        transition: background 0.2s;
    }

    .categories-dropdown li:hover {
        background: #cae9fb;
    }

}

/* ========== 🧠 2560px — 3150px ========== */
@media (min-width: 2560px) and (max-width: 3150px)
{

}

