.cont_inst:hover
{
background-color: yellow;
}
.Ico_inst:hover
{
    color:#ffffff;
}
.cont_tg:hover
{
    background-color: yellow;
}
.Ico_tg:hover
{
    color:#ffffff;
}
.cont_tt:hover
{
    background-color: yellow;
}
.Ico_tt:hover
{
    color:#ffffff;
}
.cont_in:hover
{
    background-color: yellow;
}
.ico_in:hover
{
    color:#ffffff;
}
.txt_Menu_Contacts_1
{
    color: rgba(105, 118, 137, 1);
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
.txt_Menu_Contacts_2
{
    color: rgba(105, 118, 137, 1);
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}
/* ========== 📱 320px — 479px ========== */
@media (max-width: 479px)
{
.cont_inst
{
    width: 66px;
    height: 66px;
    background-color:#242930;
    border-radius: 30px;
    margin-left: 10%;
    margin-top: -30%;
    align-content: flex-end;
}
    .Ico_inst
    {
        width:30px;
        height:30px;
        margin-left: 26%;
        margin-top: 27%;
    }

    .cont_tg
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 30%;
        margin-top: -15%;
    }

    .Ico_tg
    {
        width:30px;
        height:30px;
        margin-left: 23%;
        margin-top: 25%;
    }

    .cont_tt
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 50%;
        margin-top: -15%;
    }

    .Ico_tt
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .cont_in
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 70%;
        margin-top: -15%;
    }

    .Ico_in
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .Menu_Contacts
    {
      margin-top: 10%;
    }
    .hr_1
    {

    }

    .txt_Menu_Contacts_1
    {
top: -10%;
    }
    .txt_Menu_Contacts_2
    {

    }
}

/* ========== 📱 480px — 599px ========== */
@media (min-width: 480px) and (max-width: 599px) {
    .cont_inst
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 10%;
        margin-top: -50%;

    }
    .Ico_inst
    {
        width:30px;
        height:30px;
        margin-left: 26%;
        margin-top: 27%;
    }

    .cont_tg
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 30%;
        margin-top: -13%;

    }

    .Ico_tg
    {
        width:30px;
        height:30px;
        margin-left: 23%;
        margin-top: 25%;
    }

    .cont_tt
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 50%;
        margin-top: -13%;
    }

    .Ico_tt
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .cont_in
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 70%;
        margin-top: -13%;
    }

    .Ico_in
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .Menu_Contacts
    {
        margin-top: 10%;
    }
    .hr_1
    {

    }

    .txt_Menu_Contacts_1
    {
        top: -10%;
    }
    .txt_Menu_Contacts_2
    {

    }
}

/* ========== 📲 600px — 767px ========== */
@media (min-width: 600px) and (max-width: 767px)
{
    .cont_inst
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 10%;
        margin-top: -40%;

    }
    .Ico_inst
    {
        width:30px;
        height:30px;
        margin-left: 26%;
        margin-top: 27%;
    }

    .cont_tg
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 30%;
        margin-top: -11%;

    }

    .Ico_tg
    {
        width:30px;
        height:30px;
        margin-left: 23%;
        margin-top: 25%;
    }

    .cont_tt
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 50%;
        margin-top: -11%;
    }

    .Ico_tt
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .cont_in
    {
        width: 66px;
        height: 66px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 70%;
        margin-top: -11%;
    }

    .Ico_in
    {
        width:30px;
        height:30px;
        margin-left: 28%;
        margin-top: 25%;
    }

    .Menu_Contacts
    {
        margin-top: 10%;
    }
    .hr_1
    {

    }

    .txt_Menu_Contacts_1
    {
        top: -10%;
    }
    .txt_Menu_Contacts_2
    {

    }

}

/* ========== 💻 768px — 1023px ========== */
@media (min-width: 768px) and (max-width: 1023px)
{
    .cont_inst
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 22%;
        margin-top: -25%;

    }
    .Ico_inst
    {
        width:40px;
        height:40px;
        margin-left: 24%;
        margin-top: 24%;
    }

    .cont_tg
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 35%;
        margin-top: -10%;

    }

    .Ico_tg
    {
        width:40px;
        height:40px;
        margin-left: 21%;
        margin-top: 25%;
    }

    .cont_tt
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 48%;
        margin-top: -10%;
    }

    .Ico_tt
    {
        width:40px;
        height:40px;
        margin-left: 26%;
        margin-top: 25%;
    }

    .cont_in
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 62%;
        margin-top: -10%;
    }

    .Ico_in
    {
        width:40px;
        height:40px;
        margin-left: 26%;
        margin-top: 24%;
    }

    .Menu_Contacts
    {
        margin-top: 10%;
    }
    .hr_1
    {

    }

    .txt_Menu_Contacts_1
    {
        top: -10%;
    }
    .txt_Menu_Contacts_2
    {

    }
}

/* ========== 💻 1024px — 1279px ========== */
@media (min-width: 1024px) and (max-width: 1279px)
{
    .cont_inst
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 22%;
        margin-top: -25%;

    }
    .Ico_inst
    {
        width:40px;
        height:40px;
        margin-left: 24%;
        margin-top: 24%;
    }

    .cont_tg
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 35%;
        margin-top: -8%;

    }

    .Ico_tg
    {
        width:40px;
        height:40px;
        margin-left: 21%;
        margin-top: 25%;
    }

    .cont_tt
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 48%;
        margin-top: -7.5%;
    }

    .Ico_tt
    {
        width:40px;
        height:40px;
        margin-left: 26%;
        margin-top: 25%;
    }

    .cont_in
    {
        width: 76px;
        height: 76px;
        background-color:#242930;
        border-radius: 30px;
        margin-left: 62%;
        margin-top: -7.5%;
    }

    .Ico_in
    {
        width:40px;
        height:40px;
        margin-left: 26%;
        margin-top: 24%;
    }

    .Menu_Contacts
    {
        margin-top: 10%;
    }
    .hr_1
    {

    }

    .txt_Menu_Contacts_1
    {
        top: -10%;
    }
    .txt_Menu_Contacts_2
    {

    }
}

/* ========== 🖥️ 1280px — 1439px ========== */
@media (min-width: 1280px) and (max-width: 1439px) {

}

/* ========== 🖥️ 1440px — 1919px ========== */
@media (min-width: 1440px) and (max-width: 1919px) {

}

/* ========== 🖥️ 1920px — 2559px ========== */
@media (min-width: 1920px) and (max-width: 2559px) {

}

/* ========== 🧠 2560px — 3150px ========== */
@media (min-width: 2560px) and (max-width: 3150px) {

}


