.container
{
    width: 1680px;
    height: 90px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: #121419;
    border: 2px solid #242930;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    z-index: 1000;
}

.logo-desktop
{
    width: 220px;
    height: auto;
}

.logo-mobile
{
    display: none;
    width: 160px;
    height: auto;
}

.burger
{
    width: 34px;
    height: 24px;
    position: relative;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1100;
}

.burger span
{
    display: block;
    height: 3px;
    background: #93a9b7;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.burger.active span:nth-child(1)
{
    transform: translateY(9px) rotate(45deg);
}
.burger.active span:nth-child(2)
{
    opacity: 0;
}
.burger.active span:nth-child(3)
{
    transform: translateY(-9px) rotate(-45deg);
}

.menu
{
    display: flex;
    align-items: center;
    transition: right 0.3s ease;
    gap: 15px;
}

.menu ul
{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.menu li
{
    cursor: pointer;
    font-size: 20px;
    color: #93a9b7;
    transition: color 0.3s;

}

.menu li:hover
{
    color: #c9d8e0;
}

/* === Затемнение === */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1050;
}
.overlay.show
{
    opacity: 1;
    pointer-events: all;
}

.language-selector
{
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 0;
    justify-self: end;
}
.language-selected
{
    display: grid;               /* используем грид */
    grid-auto-flow: column;      /* горизонтальное расположение */
    align-items: center;         /* выравнивание по центру */
    gap: 8px;                    /* расстояние между текстом и иконкой */
    padding: 8px 12px;
    color: white;
    border-radius: 6px;
    user-select: none;
    margin-left: 1120%;
}
.language-selected:hover {
    background-color: #242930;
    width: 60%;
}
.Icon_i18n
{

}
.language-dropdown
{
    position: absolute;
    top: 100%;
    margin-top: 5px;
    background: #1a1e23;
    border-radius: 6px;
    list-style: none;
    padding: 0;
    display: none; /* <--- по умолчанию скрыто */
    min-width: 100%;
    z-index: 10;
    margin-left: 1120%;
}
.language-dropdown li {
    padding: 8px 12px;
    cursor: pointer;
    color: white;

}

.language-dropdown li:hover {
    background: #333;
}
/* показываем список только когда есть класс open */
.language-selector.open .language-dropdown {
    display: block;
}
.container_login
{
    width: 200px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    border-width: 2px;
    display: grid;
    position: relative;
    border: 2px solid #93A9B7;
    background-color: #242930;
}
.txt_login
{
    font-family: Montserrat Alternates;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 140%;
    letter-spacing: 0%;
    color:#93A9B7;
}
.user-menu
{

}
.user-avatar
{
    margin-left: 153%;
    margin-top: -53%;
    display: grid;
    position: relative;
    /*transform: translateY(-110%);*/
}
.container_Contacts
{
    width: 131px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_Practice
{
    width: 123px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_About
{
    width: 103px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}
.container_FAQ
{
    width: 84px;
    height: 50px;
    angle: 0 deg;
    opacity: 1;
    gap: 5px;
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    display: grid;
    position: relative;
}

.grid-section_Menu
{

}

@media (min-width: 320px) and (max-width: 328px)
{

}
