html,
body {
    margin: 0;
    padding: 0;
    background-color: #121419;
    min-height: 100vh;
    width: 100%;
    font-family: sans-serif;
}

.container_Main {
    min-height: 100vh;
    width: 100%;
    padding: 0;
    display: grid;
    grid-gap: 0;
    box-sizing: border-box;
}

.container_sing_in
{
    width: 1680px;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20;
    padding: 30px 20px 30px 20px;
}

.cont_sing_in_txt
{
    font-family: Red Hat Mono;
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.cont_sing_in_txt_1
{
    font-family: Red Hat Mono;
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.cont_sing_in_txt_2
{
    font-family: Red Hat Mono;
    font-size: 50px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.cont_sing_in_txt_3
{
    color: #93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.cont_sing_in_button
{
    width: 447px;
    height: 48px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5;
    padding: 10px 5px 10px 5px;
}





.txt_WHY
{
    font-family: Red Hat Mono;
    font-size: 100px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.txt_CHOOSE
{
    font-family: Red Hat Mono;
    font-size: 100px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.txt_US
{
    font-family: Red Hat Mono;
    font-size: 100px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
}
.txt
{

    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.block_teachnologies
{
    width: 547px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 10px 15px 10px 15px;
}
.txt_14
{
    color:#73B5FF;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_15
{
    color:#CAE9FB;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
}
.txt_16
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_17
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_18
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_19
{
    color:#73B5FF;
}
.txt_20
{
    color:#CAE9FB;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_21
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_22
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_23
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.block_program
{
    width: 547px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 10px 15px 10px 15px;
}
.block_perfect
{
    width: 547px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 10px 15px 10px 15px;
}
.txt_24
{
    color:#73B5FF;
}
.txt_25
{
    color:#CAE9FB;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_26
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_27
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_28
{
    color:#93A9B7;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.txt_87
{
    font-family: Red Hat Mono;
    font-size: 100px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color:#CAE9FB;
    text-transform: uppercase;
}
.txt_88
{
    font-family: Red Hat Mono;
    font-size: 100px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color:#F93D7A;
}
.txt_89
{
    color:#93A9B7;
    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.cont_teachers
{
}
.cont_1
{
    /* Frame 179 */
    width: 405px;
    height: 295px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 25px 15px 25px 15px;


}
.Ico_teachers_cont
{

}
.main_txt_cont_1
{
    color: var(--light blue, rgba(202, 233, 251, 1));

    font-family: Montserrat Alternates;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}
.txt_1_cont
{

}
.txt_cont_1
{
    width: 5px;
    height: 5px;
    background: var(--middle blue, rgba(115, 181, 255, 1));
}
.txt_1_cont_1
{
    color: var(--light blue, rgba(202, 233, 251, 1));
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_2_cont
{
    background: var(--middle blue, rgba(115, 181, 255, 1));
    width: 5px;
    height: 5px;
}
.txt_2_cont_1
{
    color: var(--light blue, rgba(202, 233, 251, 1));
    width: 76px;
    height: 22px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}
.txt_3_cont_1
{
    color: var(--light blue, rgba(202, 233, 251, 1));
    width: 48px;
    height: 22px;
    font-family: Montserrat Alternates;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}

.cont_2
{
    /* Frame 179 */
    width: 405px;
    height: 295px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 25px 15px 25px 15px;


}
.cont_3
{
    /* Frame 179 */
    width: 405px;
    height: 295px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 25px 15px 25px 15px;


}
.cont_4
{
    /* Frame 179 */
    width: 405px;
    height: 295px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 25px 15px 25px 15px;


}
.cont_5
{
    /* Frame 179 */
    width: 405px;
    height: 295px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10;
    padding: 25px 15px 25px 15px;


}
.Ico_teachers_img
{

}
